* { 
	padding: 0; 
	margin: 0; 
}
     
canvas { 
	background: #eee; 
	display: block; 
	margin: 0 auto; 
}

.background {
	color: #fff;
	background: linear-gradient(-135deg, #083b66, #1761a0, #4c96d7, #8dcaff);
	background-size: 1000% 1000%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}